.label{
    -fx-font-family: "Times New Roman";
}

.button{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 12pt;
    -fx-cursor: hand;
}

.text-field{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14pt;
}

#btnStart, #btnCont, #btnReset{
    -fx-font-size: 20pt;
}

#mainscreen{
    -fx-background-image: url('../resources/bg.jpg') !important;
}

.table-view{
    -fx-font-family: "Times New Roman";
}